@charset "UTF-8"

.ft_wrap:after { content: ""; display: block; clear: both; }
.ft_logo { float: left; width: 60px; }
.ft_box { float: left; width: 700px; padding-left: 50px; }
.fnb { clear: both; }
.fnb a { padding: 25px; color: #999; font-size: 14px; }
.fnb a.dpc { color: #fff; }
.addr { padding-top: 40px; padding-left: 25px; color: #999; font-size: 14px; line-height: 2; }
.copyright { padding-top: 5px; padding-left: 25px; color: #999; font-size: 12px; }
.sel_box { float: right; width: 180px; height: 30px; line-height: 28px; text-align: center; 
border: 1px solid #999; margin: -2px; }
#sel { border: none; background-color: #1c1b1b; color: #999; }
#sel option { color: #999; }